{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SASG - St. Antonious Scout Group</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/mobile_style.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/scripts.js' %}"></script>
    <link rel="icon" href="{% static 'assets/sasg-logo.jpg' %}" type="image/png">
    
</head>
<body>

    <!-- Navigation Bar -->
    {% include 'navbar.html' %}

    <div class="notification-container">
        {% if messages %}
            {% for message in messages %}
                <div class="notification {{ message.tags }}">
                    <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 SASG - St. Antoine Scout Group - مجموعة القديس أنطونيوس الكشفية | All Rights Reserved</p>
    </footer>
    
</body>
</html>
